@model IEnumerable<Product>;

@{
    ViewData["Title"] = "Home Page";
}

 <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Internet Shop</h1>
          <p class="lead text-muted">Internet shop where you can find anything you would ever think might come in handy.</p>
          <p>
            <a asp-controller="Home" asp-action="Create" type="button" class="btn btn-secondary my-2">Create new product</a>
            
          </p>
        </div>
      </section>

<div class="album py-5 bg-light">
    <div class="container">
        
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@item.ProductImage" width=100% height="225"alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">@item.ProductName</p>
                            <p class="card-text">@item.ProductDescription</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id"  type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                                </div>
                                <small class="text-muted">@item.ProductPrice $</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
           
   
    </div>
</div>
</div>

































@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

@*TODO 
add db, make onclicks, get every data from db*@
@*<div class="mainBody">
    <div class="rowOne">
        <a class="nav-link text-dark" asp-area="" asp-controller="CartController" asp-action="Cart">
        <div>
            <div>
                <img src="images/laptop1.jpg" class="imageOne"/>
            </div>
            <div class="productTitle">
                <span>Title</span>
                
            </div>
            <div class="productPrice">
                <span>122.89</span>
            </div>
            </div>
        </a>
        <div>
            <div>
                <img src="images/laptop1.jpg" class="imageOne" />
            </div>
            <div class="productTitle">
                <span>Title</span>

            </div>
            <div class="productPrice">
                 <span>122.89</span>
            </div>
        </div>

        <div>
            <div>
                <img src="images/laptop1.jpg" class="imageOne" />
            </div>
            <div class="productTitle">
                <span>Giga Laptop Giga Kamyczora</span>
            </div>
            <div class="productPrice">
                 <span>122.89</span>
            </div>
        </div>
    </div>

    <div class="rowOne">
        <div>
            <div>
                <img src="images/laptop1.jpg" class="imageOne" />
            </div>
            <div class="productTitle">
                <span>Title</span>

            </div>
            <div class="productPrice">
                <span>122.89</span>
            </div>
        </div>
        <div>
            <div>
                <img src="images/laptop1.jpg" class="imageOne" />
            </div>
            <div class="productTitle">
                <span>Title</span>

            </div>
            <div class="productPrice">
                <span>122.89</span>
            </div>
        </div>

        <div>
            <div>
                <img src="images/laptop1.jpg" class="imageOne" />
            </div>
            <div class="productTitle">
                <span>Giga Laptop Giga Kamyczora</span>
            </div>
            <div class="productPrice">
                <span>122.89</span>
            </div>
        </div>
    </div>

     <div class="rowOne">
        <div>
            <div>
                <img src="images/laptop1.jpg" class="imageOne"/>
            </div>
            <div class="productTitle">
                <span>Title</span>

            </div>
            <div class="productPrice">
                <span>122.89</span>
            </div>
        </div>
        <div>
            <div>
                <img src="images/laptop1.jpg" class="imageOne" />
            </div>
            <div class="productTitle">
                <span>Title</span>

            </div>
            <div class="productPrice">
                 <span>122.89</span>
            </div>
        </div>

        <div>
            <div>
                <img src="images/laptop1.jpg" class="imageOne" />
            </div>
            <div class="productTitle">
                <span>Giga Laptop Giga Kamyczora</span>
            </div>
            <div class="productPrice">
                 <span>122.89</span>
            </div>
        </div>
    </div>
</div>
*@

